<%- include('../partials/header'); %>


  	
	    <h1 style="font-size: 100px; margin: 10px 0 0 0; font-weight: lighter;">contact us</h1>
	    <hr>
	    <br>
	    <br>
	    <br>
	    <p>Address: <%= address %></p>
	    <p>Tel: <%= tel %></p>
	    <p>Email: <%= admin %></p>
	


<%- include('../partials/footer'); %>

